html {
    min-height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body{
    position: absolute;
    margin: 0;
    background-color:#F8B195;
    color: #FFF;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    min-height: 100%;
    padding-bottom: 100px;
    width: 100%;
}

#line{
    width:300px;
    background-color:#355C7D;
    height:5px;
    top:200px;
    position: absolute;
}

.menu ul{
    margin: auto;
    left:0;
    right:0;
    width:90%;
    display:inline-flex;
    justify-content: space-around;
}

.menu li{
    color: #FFF;
    display:inline;
    font-size: 20px;
}

a{
    color:#355C7D;
    text-decoration: none;
}

a:hover{
    color:#FFF;
}

.content{
    font-size:20px;
    color: #FFF;
    padding: 0px 0px;
}

h1{
    font-weight: 200;
    font-size: 70px;
    margin-top: 100px;
    padding-left: 100px;
    text-align: left;
    font-family: 'Pacifico', cursive;
    color: #FFF;
}

h1 a{
    color:#FFF;
    text-decoration: none;
}

h1 a:hover{
    color:#355C7D;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    border: 2px solid transparent;
    margin:50px;
}

img:hover{
    border: 2px solid #355C7D;
}

#me{
    width: 225px;
    height: 175px;
    border: 0px;
    border-radius: 50;
}

#me:hover{
    border: 0px;
}

#projects {
    margin-top: 70px;
    display:flex-wrap;
    justify-content: space-around;
}

.container{
    width: 500px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

label{
    padding: 10px;
}

input,textarea{
    width: 300px;
    padding: 10px 0px 10px 10px;
    border-radius:5px;
}

textarea{
    height: 300px;
}

#submit{
    background-color:#355C7D;
    color: #FFF;
    border: 1px solid #244B6C;
    width:100px;
    padding: 10px;
    float:right;
}

#submit:hover{
    opacity: .9;
}

#about{
    display: inline-flex;
    justify-content:center;
    padding:0px 20px;
}

#aboutme{
    text-align: left;
    width: 50%;
    padding: 30px;
}

#tangled{
    color:#FFF;
    height: 200px;
    width: 200px;
    border-radius: 0px;
    border: 0px;
    margin:50px;
    animation: rotate  20s ease-in-out infinite;
}

#tangled:hover{
     border: 0px;
}

footer{
    position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background-color: #355C7D;
}

.social {
    margin: 0 auto;
    padding: 0px;
    display:flex;
    width: 50%;
}

.social ul{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

.social ul li {
      margin: 5px;
    display: inline;
}

.social ul li a{
    margin: 5px;
}

.social i {
      color: #FFF;
      font-size: 30px;
      text-align: center;
      padding-top: 12px;
}

.social i:hover {
      color: #F8B195;
      text-decoration: none;
}

::-webkit-scrollbar {
        width: 12px;
}
 
::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
        border-radius: 30px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
}