html, body{
  font-family: 'Open Sans', sans-serif;
  background-color: #80D9FF;
  min-width: 100%;
  min-height: 100%;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
