html, body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #80D9FF;
  min-width: 100%;
  min-height: 100%;
}

header {
  height: 10em;
  justify-content: space-between;
}

header, nav ul {
  display: flex;
  flex-wrap: wrap;
}

.left, .right {
  max-height: 100%;
  margin: auto;
  width: 50%;
}

.logo {
  max-width: 16em;
  max-height: 8em;
  padding-top: 1em;
  margin-left: 1em;
  padding-left: 2em;
}

.right * {
  margin-right: 1em;
  text-align: right;
}

nav ul {
  justify-content: space-around;
  list-style: none;
}

a, a:active, a:visited, a:enabled {
  min-width: 48px;
  min-height: 48px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

a:hover {
  color: #FFE27A;
  text-decoration: none;
}

main {
  padding: 5em;
}

.jumbotron {
  background-color: #80D9FF;
  font-family: 'Josefin Sans', sans-serif;
}

.list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-thumbnail {
  width: 250px;
  margin: .5em;
  transition: all 0.3s;
  background-color: #FFE27A;
  border-radius: 50px;
}

.img-thumbnail:hover {
  transform: scale(1.04);
}

.sub {
  text-align: center;
}

footer {
  height: 15em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #00CC66;
  border-radius: 100% 100% 0% 0%;
  text-align: center;
}

.center {
  margin: auto;
}

.social {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.social a {
  margin: 10px;
}

/*----MEDIA QUERIES-----*/
@media screen and (max-width: 320px) {
  .jumbotron p {
    font-size: 16px;
  }

  .img-thumbnail {
    width: 100px;
  }
}

@media screen and (min-width: 321px) and (max-width: 640px) {
  .jumbotron p {
    font-size: 18px;
  }

  .img-thumbnail {
    width: 150px;
  }
}

@media screen and (min-width: 641px) and (max-width: 1000px) {
  .jumbotron p {
    font-size: 21px;
  }

  .img-thumbnail {
    width: 200px;
  }

  .social {
    width: 300px;
    margin: auto;
  }
}

@media screen and (min-width: 1001px) {
  .jumbotron {
    max-width: 1000px;
    margin: auto;
  }

  .social {
    width: 300px;
    margin: auto;
  }
}
